@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Name: Jason Zheng</p>
<p style="color:red">Email: Jason.Zheng@codemegeek.com</p>
<p style="color:red">mobile: 0430 321 011</p>
<p style="color:red">Full-stack developer, proficient in .Net and front-end technologies.</p>
<p style="color:red">IT enthusiast, tech lover.</p>


